/* -------------RESETS------------- */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    list-style: none;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body, ::placeholder, .btn {
    color: var(--clr-dark);
    font-family: "Truculenta";
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
    background-color: var(--brown);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
    display: block;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: Truculenta;
    src: url("/font/Truculenta-VariableFont_opsz\,wdth\,wght.ttf");
}

.container {
    max-width: 120rem;
    padding: 1.5rem;
    margin: 0 auto;
}

/* -------------------HEADER---------------- */
.header {
    position: relative;
    background-color: var(--clr-tertiary);
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.header .header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    transition: all 0.5s ease;  
}

.header .header_wrapper.open {
    background-color: var(--clr-tertiary);
    border-radius: 10rem;
    padding: 2rem;
    position: fixed;
    width: 80rem;
    left: 0;
    right: 0;
    max-width: 100%;
    margin: 0 auto;
    z-index:99;
    transition: all 0.5s ease;
    border: 1px solid var(--clr-primary);
}

.header .header_nav {
    display: flex;
    gap: 3rem;
}

.header .header_nav li a {
    color: var(--clr-dark);
    font-weight: bold;
    transition: 0.3s ease;
    font-family: "Truculenta";
    font-size: 2.2rem;
}

.header .header_nav li a:hover,
.header .header_nav li a.active {
    color: var(--clr-primary);

}

.header .toggle_menu {
    display: none;
}

/* ---------HEADER MOBILE------------ */
.header .toggle_menu span {
    width: 3rem;
    height: 0.3rem;
    border: 1px solid var(--clr-primary);
    border-radius: 1rem;
    background-color: var(--clr-primary);
    transition: all 0.5s ease;
}
@media screen and (min-width:400px) and (max-width:600px) {
    .header {
        width: 100%;
        position: fixed;
    }
    .header .header_wrapper {
        transition: none;
    }
    .header .header_wrapper.open {
        padding: 0 3rem;
        border-radius: unset;
        position: unset;
        border: none;
        transition: none;
    }
    .header .toggle_menu {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    
    .header .header_nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: var(--clr-tertiary);
        padding: 3rem;
        width: 50%;
        top: 0;
        margin-top: 11rem;
        height: 100vh;
        right: -100%;
        transition: all 0.5s ease;
    }

    .header .header_nav.open {
        right: 0;
    }

    .header .toggle_menu.open span:first-child {
        transform: translate(0, 10px) rotate(225deg);
        transition: all 0.5s ease;
    }

    .header .toggle_menu.open span:nth-child(2) {
        opacity: 0;
        transition: all 0.5s ease;
    }

    .header .toggle_menu.open span:last-child {
        transform: translate(0, -6px) rotate(-225deg);
        transition: all 0.5s ease;
    }

    .backdrop {
        display: block;
        background-color: rgba(0, 0, 0, 0);
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 10;
        transition: 0.5s ease;
    }

    .backdrop.open {
        display: block;
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 10;
        transition: 0.5s ease;
    }
}
@media screen and (min-width:600px) and (max-width:800px){
    .header {
        width: 100%;
        position: fixed;
    }
    .header .header_wrapper {
        transition: none;
    }
    .header .header_wrapper.open {
        padding: 0 3rem;
        border-radius: unset;
        position: unset;
        border: none;
        transition: none;
    }
    .header .toggle_menu {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    
    .header .header_nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: var(--clr-tertiary);
        padding: 3rem;
        width: 50%;
        top: 0;
        margin-top: 11rem;
        height: 100vh;
        right: -100%;
        transition: all 0.5s ease;
    }

    .header .header_nav.open {
        right: 0;
    }

    .header .toggle_menu.open span:first-child {
        transform: translate(0, 10px) rotate(225deg);
        transition: all 0.5s ease;
    }

    .header .toggle_menu.open span:nth-child(2) {
        opacity: 0;
        transition: all 0.5s ease;
    }

    .header .toggle_menu.open span:last-child {
        transform: translate(0, -6px) rotate(-225deg);
        transition: all 0.5s ease;
    }

    .backdrop {
        display: block;
        background-color: rgba(0, 0, 0, 0);
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 10;
        transition: 0.5s ease;
    }

    .backdrop.open {
        display: block;
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 10;
        transition: 0.5s ease;
    }

}
@media screen and (max-width:520px) {
    .header {
        width: 100%;
        position: fixed;
    }
    .header .header_wrapper {
        transition: none;
    }
    .header .header_wrapper.open {
        padding: 0 3rem;
        border-radius: unset;
        position: unset;
        border: none;
        transition: none;
    }
    .header .toggle_menu {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .header .header_nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: var(--clr-tertiary);
        padding: 3rem;
        width: 50%;
        top: 0;
        margin-top: 11rem;
        height: 100vh;
        right: -100%;
        transition: all 0.5s ease;
    }

    .header .header_nav.open {
        right: 0;
    }

    .header .toggle_menu.open span:first-child {
        transform: translate(0, 10px) rotate(225deg);
        transition: all 0.5s ease;
    }

    .header .toggle_menu.open span:nth-child(2) {
        opacity: 0;
        transition: all 0.5s ease;
    }

    .header .toggle_menu.open span:last-child {
        transform: translate(0, -6px) rotate(-225deg);
        transition: all 0.5s ease;
    }

    .backdrop {
        display: block;
        background-color: rgba(0, 0, 0, 0);
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 10;
        transition: 0.5s ease;
    }

    .backdrop.open {
        display: block;
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 10;
        transition: 0.5s ease;
    }
}

/* -------------------HOME BANNER TOP--------------- */
.homeBannerTop {
    min-height: 100px;
    background-color: var(--clr-secondary);
    position: relative;
}

.homeBannerTop .homeBannerTop_text {
    text-align: center;
    color: var(--clr-dark);

}

.homeBannerTop .homeBannerTop_text p {
    letter-spacing: 3px;
    font-size: 1.3rem;
    font-weight: 300;

}

.homeBannerTop .homeBannerTop_text h3 {
    font-size: 3rem;
    letter-spacing: 6px;
    max-width: 18rem;
    margin: 0 auto;
    line-height: 2.5rem;
    font-weight: bold;
    margin-top: 0.4rem;
}

/* ------homeBannerTop MOBIL-------- */
@media screen and (min-width:400px) and (max-width:600px) {
    .homeBannerTop {
        padding-top: 12rem;
    }
}
@media screen and (min-width:600px) and (max-width: 800px) {
    .homeBannerTop {
        padding-top: 12rem;
    }
}
@media screen and (max-width:520px) {
    
    .homeBannerTop {
        padding-top: 12rem;
    }
}


/* -----------------HOME BANNER BOTTOM---------------- */
.homeBannerBottom {
    padding-top: 4rem;
    min-height: 500px;
    background-color: var(--clr-light);
    position: relative;
}

.homeBannerBottom .homeBannerBottom_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15rem;
}

.homeBannerBottom .homeBannerBottom_text p {
    padding: 2rem 0;
}

.homeBannerBottom .homeBannerBottom_main {
    display: flex;
    flex-direction: column;
    line-height: 6rem;
}

.homeBannerBottom .homeBannerBottom_main li {
    font-size: 7rem;
}

.homeBannerBottom .homeBannerBottom_main li:nth-child(1) {
    color: var(--clr-primary);
    font-weight: bold;
}

.homeBannerBottom .homeBannerBottom_main li:nth-child(2) {
    margin-left: 7rem;
    color: var(--clr-secondary);
    font-weight: bold;
}

.homeBannerBottom .homeBannerBottom_main li:nth-child(3) {
    color: var(--clr-primary);
    font-weight: 200;
}

.homeBannerBottom .homeBannerBottom_main li:nth-child(3)::before {
    display: inline-block;
    content: "";
    position: relative;
    background-color: var(--clr-primary);
    height: 0.2rem;
    width: 15rem;
    bottom: 2rem;
    right: 0.5rem;
}

.homeBannerBottom .homeBannerBottom_img {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.homeBannerBottom .homeBannerBottom_img img:last-child {
    position: relative;
    top: 3rem;
}

/* --------homeBannerBottom Mobil----------- */
@media screen and (min-width:400px) and (max-width:600px) {
    .homeBannerBottom {
        margin: 0 2rem;
    }
    .homeBannerBottom_img img {
        display: none;
    }
    .homeBannerBottom .homeBannerBottom_wrapper {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
}
@media screen and (min-width:600px) and (max-width: 800px) {
    .homeBannerBottom {
        margin: 0 2rem;
    }
    .homeBannerBottom_img img {
        display: none;
    }
    .homeBannerBottom .homeBannerBottom_wrapper {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
}
@media screen and (max-width:520px) {
    .homeBannerBottom {
        margin: 0 2rem;
        margin-bottom: 3rem;
    }

    .homeBannerBottom .homeBannerBottom_wrapper {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    .homeBannerBottom_img img {
        display: none;
    }

    .homeBannerBottom .homeBannerBottom_main li:nth-child(3)::before {
        width: 14rem;
    }

}

/* --------------HOME ABOUT------------ */
.homeAbout {
    padding: 5rem 0;
    background: var(--clr-dark);
}

.homeAbout .container h3 {
    font-size: clamp(1.5rem, 10vw, 3.5rem);
    color: var(--clr-primary);
    margin-bottom: 2rem;
}

.homeAbout .container h3::before {
    display: inline-block;
    content: "";
    position: relative;
    background-color: var(--clr-primary);
    height: 0.2rem;
    width: 70%;
    bottom: 1rem;
    right: 0.5rem;

}

.homeAbout .homeAbout_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.homeAbout .homeAbout_img img {
    padding: 0 2rem;
    width: 100rem;
}

.homeAbout .homeAbout_text {
    color: var(--clr-light);
}

.homeAbout .homeAbout_text p {
    margin-bottom: 2rem;
}

/* -------------homeAbout Mobil-------------- */
@media screen and (min-width:400px) and (max-width:600px) {
    .homeAbout .container h3::before {
        width: 25rem;
    }
    .homeAbout .homeAbout_wrapper {
        flex-direction: column;
        margin: 0 1rem;
    }
}
@media screen and (min-width: 600px) and (max-width:800px) {

    .homeAbout .container h3::before {
        width: 32rem;
    }
    .homeAbout .homeAbout_wrapper {
        flex-direction: column;
        margin: 0 1rem;
    }
}
@media screen and (max-width:520px) {

    .homeAbout .homeAbout_wrapper {
        flex-direction: column;
        margin: 0 1rem;
    }

    .homeAbout .container h3::before {
        width: 18rem;
    }
}

/* --------------homeCATALOG---------------- */
.homeCatalog {
    padding: 5rem 0;
    background: var(--clr-tertiary);
}

.homeCatalog .container h3 {
    font-size: clamp(1.5rem, 10vw, 3.5rem);
    color: var(--clr-primary);
    margin-bottom: 2rem;
}

.homeCatalog .container h3::after {
    display: inline-block;
    content: "";
    position: relative;
    background-color: var(--clr-primary);
    height: 0.2rem;
    width: 92%;
    bottom: 1rem;
    left: 1rem;
}

.homeCatalog .homeCatalog_wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

/* -------------homeCatalog MOBIL------------- */
@media screen and (min-width:400px) and (max-width:600px) {

    .homeCatalog .container h3::after {
        width: 36rem;
    }
}
@media screen and (min-width: 600px) and (max-width:800px) {

    .homeCatalog .container h3::after {
        width: 46rem;
    }
}
@media screen and (max-width:520px) {

    .homeCatalog .container h3::after {
        width: 32rem;
    }
}

/* ^^^^^^^^^ABOUT PAGE^^^^^^^^^ */
/* --------------ABOUT BANNER------------- */
.aboutBanner {
    padding: 8rem 0;
    background-color: var(--clr-light);
    position: relative;
}

.aboutBanner .aboutBanner_wrapper {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
}

.aboutBanner .aboutBanner_img small::before {
    display: inline-block;
    content: "";
    position: relative;
    background-color: var(--clr-dark);
    height: 0.1rem;
    width: 34rem;
    bottom: 0.5rem;
    margin-right: 2.5rem;
}

.aboutBanner .aboutBanner_text h2 {
    font-size: 6rem;
    letter-spacing: 2rem;
    padding: 7rem 0;
    font-weight: bold;
}

.aboutBanner .aboutBanner_text p {
    margin-bottom: 2rem;
}

.aboutBanner .aboutBanner_icons {
    display: flex;
    gap: 1rem;
}

.aboutBanner .aboutBanner_icons i {
    color: var(--clr-dark);
}

/* --------------aboutBanner MOBIL---------- */
@media screen and (min-width: 400px) and (max-width:600px){
    .aboutBanner .aboutBanner_wrapper {
        grid-template-columns: 1fr;
        margin: 0 1rem;
    }
    .aboutBanner .aboutBanner_img {
        display: none;
    }
    .aboutBanner .aboutBanner_text h2 {
        padding-bottom: 4rem;
    }

    .aboutBanner .aboutBanner_icons {
        justify-content: center;
        margin-top: 2rem;
        gap: 3rem;
        font-size: 3.5rem;
    }
}
@media screen and (min-width: 600px) and (max-width:800px) {
    .aboutBanner .aboutBanner_wrapper {
        grid-template-columns: 1fr;
        margin: 0 1rem;
    }
    .aboutBanner .aboutBanner_img {
        display: none;
    }
    .aboutBanner .aboutBanner_text h2 {
        padding-bottom: 4rem;
    }

    .aboutBanner .aboutBanner_icons {
        justify-content: center;
        margin-top: 2rem;
        gap: 3rem;
        font-size: 3.5rem;
    }
}
@media screen and (max-width:520px) {
    .aboutBanner .aboutBanner_wrapper {
        grid-template-columns: 1fr;
        margin: 0 1rem;
    }

    .aboutBanner .aboutBanner_img {
        display: none;
    }

    .aboutBanner .aboutBanner_text h2 {
        padding-bottom: 4rem;
    }

    .aboutBanner .aboutBanner_icons {
        justify-content: center;
        margin-top: 2rem;
        gap: 3rem;
        font-size: 3.5rem;
    }
}

/* ----------------ABOUT STYLE----------------- */
.aboutStyle {
    background-color: var(--clr-dark);
    padding: 6rem 0;
}

.aboutStyle .container h2 {
    color: var(--clr-primary);
    font-size: 5rem;
    font-weight: bold;
}

.aboutStyle .container p {
    color: var(--clr-light);
    margin-bottom: 2rem;
}

.aboutStyle .aboutStyle_wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    row-gap: 6rem;
}

/* ^^^^^^^^^^^^^^^^^^^^CATALOG PAGE^^^^^^^^^^^^^^^^ */
/* ----------------CATALOG BANNER---------------- */
.catalogBanner {
    background: linear-gradient(rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)), url(./img/catalog-banner.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.catalogBanner h1 {
    font-size: 7rem;
    font-weight: bold;
    color: var(--clr-primary);
}

.catalogBanner h4 {
    font-size: 2.5rem;
    max-width: 40rem;
    margin: 0 auto;
}

/* --------------CATALOG THEME------------ */
.catalogTheme h1 {
    font-size: 7rem;
    font-weight: bold;
    color: var(--clr-primary);
    text-align: center;
    margin: 4rem 0;
}

.catalogTheme .catalog_item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 10rem 0;
}

.catalogTheme .catalog_item .catalog_text {
    max-width: 50rem;
    text-align: justify;
}

.catalogTheme .catalog_item .catalog_text h2 {
    font-size: 7rem;
    font-weight: bold;
    color: var(--clr-primary);
    text-align: center;
    margin-bottom: 5rem;
}

.catalogTheme .catalog_item:nth-of-type(even) {
    flex-direction: row-reverse;
    background-color: var(--clr-tertiary);
}

/* ------------CATALOG THEME MOBIL------------ */
@media screen and (min-width:400px) and (max-width:600px) {

    .catalogTheme h1 {
        line-height: 1;
    }

    .catalogTheme .catalog_item {
        padding: 5rem 4rem;
        gap: 1rem;
    }

    .catalogTheme .catalog_item .catalog_text h2 {
        margin: 0;
        font-size: 6rem;
    }
}
@media screen and (max-width:520px) {
    .catalogTheme h1 {
        line-height: 1;
    }

    .catalogTheme .catalog_item {
        padding: 5rem 4rem;
        gap: 1rem;
    }

    .catalogTheme .catalog_item .catalog_text h2 {
        margin: 0;
        font-size: 6rem;
    }
}

/* ^^^^^^^^^^^^^^^^^^^^^^^UPDATES PAGE^^^^^^^^^^^^^^^^^^^^^^^ */
/* --------------UPDATES BANNER------------- */
.updatesBanner {
    padding: 6rem 0;
}

.updatesBanner .updatesBanner_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    align-items: center;
}

.updatesBanner .updatesBanner_text h1 {
    font-size: 7rem;
    color: var(--clr-primary);
    text-align: center;
    font-weight: bold;
    margin-bottom: 4rem;
}

.updatesBanner .updatesBanner_text p {
    text-align: justify;
}

/* --------------UPDATES BANNER MOBIL------------ */
@media screen and (min-width:400px) and (max-width:600px) {
    .updatesBanner {
        padding: 15rem 0.75rem 4rem 0.75rem;
    }
    .updatesBanner .updatesBanner_wrapper {
        grid-template-columns: 1fr;

    }
}
@media screen and (min-width:600px) and (max-width:800px) {
    .updatesBanner {
        padding: 15rem 0.75rem 4rem 0.75rem;
    }
    .updatesBanner .updatesBanner_wrapper {
        grid-template-columns: 1fr;

    }
}
@media screen and (max-width:520px) {
    .updatesBanner {
        padding: 15rem 0.75rem 4rem 0.75rem;
    }

    .updatesBanner .updatesBanner_wrapper {
        grid-template-columns: 1fr;

    }
}

/* --------------------UPDATES DESIGNS------------------- */
.updatesDesigns {
    padding: 5rem 0;
}

.updatesDesigns .updatesDesigns_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3rem;
}

.updatesDesigns .updatesDesigns_wrapper h5 {
    color: var(--clr-secondary);
    margin-bottom: 4rem;
    font-size: 3rem;
    font-weight: bold;
}

.updatesDesigns .updatesDesigns_designs_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}



.updatesDesigns .updatesDesigns_designs_items .updatesDesigns_frame {
    padding: 2rem 4rem;
    background-color: var(--clr-tertiary);
    text-align: justify;
}

.updatesDesigns .updatesDesigns_designs_items .updatesDesigns_frame h4 {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.updatesDesigns .updatesDesigns_designs_items .updatesDesigns_frame i {
    display: flex;
    justify-content: flex-end;
    font-size: 4rem;
    color: var(--clr-dark);
}

.updatesDesigns .updatesDesigns_categories_items {
    display: flex;
    gap: 14rem
}

.updatesDesigns .updatesDesigns_categories_items li {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 3rem;
}

/* -----------------UPDATES DESIGNS MOBIL------------- */
@media screen and (min-width:400px) and (max-width:600px) {
    .updatesDesigns {
        padding: 3rem 1.5rem;
    }

    .updatesDesigns .updatesDesigns_wrapper,
    .updatesDesigns .updatesDesigns_designs_items {
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width:600px) and (max-width:800px) {
    .updatesDesigns {
        padding: 3rem 1.5rem;
    }

    .updatesDesigns .updatesDesigns_wrapper,
    .updatesDesigns .updatesDesigns_designs_items {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width:520px) {
    .updatesDesigns {
        padding: 3rem 1.5rem;
    }

    .updatesDesigns .updatesDesigns_wrapper,
    .updatesDesigns .updatesDesigns_designs_items {
        grid-template-columns: 1fr;
    }
}

/* ------------------UPDATES PROJECTS-------------------- */
.updatesProjects {
    padding: 5rem 0;
    margin-bottom: 8rem;
}

.updatesProjects h4 {
    color: var(--clr-primary);
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 12rem;
}

.updatesProjects .updatesProjects_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.updatesProjects .updatesProjects_item .updatesProjects_text {
    display: flex;
    gap: 6rem;
    font-weight: bold;
    font-size: 2rem;
}

.updatesProjects .updatesProjects_item .updatesProjects_text_item {
    display: flex;
    gap: 1rem;
    padding: 0 1.5rem;
}

.updatesProjects .updatesProjects_item .updatesProjects_text_item i {
    font-size: 3rem;
}

/* -----------------UPDATES PROJECTS MOBIL-------------- */
@media screen and (min-width:400px) and (max-width:600px) {
    .updatesProjects h4 {
        margin-bottom: 6rem;
    }
}
@media screen and (min-width:600px) and (max-width:800px) {
    .updatesProjects h4 {
        margin-bottom: 6rem;
    }
}
@media screen and (max-width:520px) {
    .updatesProjects h4 {
        margin-bottom: 6rem;
    }
}

/* ^^^^^^^^^^^^^^^^CONTACTS PAGE^^^^^^^^^^^^^^^^^^^^^ */
/* ----------------CONTACTS FORM---------------------- */
.contactForm {
    height: 79.3vh;
    padding: 10rem 0;
    background-color: var(--clr-tertiary);
}

.contactForm h1 {
    color: var(--clr-primary);
    font-size: 6rem;
    font-weight: bold;
}

.contactForm .contactForm_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 3rem;
}

.contactForm .contactForm_form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
}

.contactForm .contactForm_form input, 
.contactForm .contactForm_form textarea {
    border: none;
    border-bottom: 1px solid var(--clr-dark);
    background-color: var(--clr-tertiary);
    outline: none;
}
.contactForm .contactForm_form input::placeholder,
.contactForm .contactForm_form textarea::placeholder {
    opacity: 0.5;
    font-size: 1.5rem;
}

.contactForm .contactForm_form input {
    width: 60rem;
    padding: 1rem ;
}

.contactForm .contactForm_form textarea {
    padding: 1rem 1rem 6rem 1rem;  
}

.contactForm .contactForm_info {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    padding: 2rem 12rem 2rem 12rem;
}

.contactForm .contactForm_info h4 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.contactForm .contactForm_info i {
    color: var(--clr-secondary);
    padding-right: 2rem;
}



.contactForm .contactForm_content li {
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    text-align: left;
}


/* ------------CONTACT FORM MOBIL-------------------- */
@media screen and (min-width:400px) and (max-width:600px) {
    .contactForm {
        height: 110vh;
        padding-top: 18rem;
        max-width: 100%;
    }
    .contactForm .contactForm_wrapper {
        gap: 6rem;
    }
    .contactForm .contactForm_form input {
        width: 48rem;
    }
    .contactForm .contactForm_info {
        padding: 2rem;
        width: 100%;
    }
    .contactForm .contactForm_container {
        margin: 0 7.2rem;
    }
}
@media screen and (min-width:600px) and (max-width:800px) {
    .contactForm {
        height: 110vh;
        padding-top: 18rem;
        max-width: 100%;
    }
    .contactForm .contactForm_wrapper {
        gap: 6rem;
    }
    .contactForm .contactForm_form input {
        width: 55rem;
    }
    .contactForm .contactForm_info {
        padding: 2rem;
        width: 100%;
    }
    .contactForm .contactForm_container {
        margin: 0 11.2rem;
    }
}
@media screen and (max-width:520px) {
    .contactForm {
        height: 110vh;
        padding-top: 18rem;
        max-width: 100%;
    }
    .contactForm .contactForm_wrapper {
        gap: 6rem;
    }
    .contactForm .contactForm_form input {
        width: 45rem;
    }
    .contactForm .contactForm_info {
        padding: 2rem;
        width: 100%;
    }
    .contactForm .contactForm_container {
        margin: 0 6.2rem;

    }
}


/* -----------------CALL TO ACTION--------------- */
.cta {
    padding: 2rem 0;
    background-color: var(--clr-primary);
    text-align: center;
    color: var(--clr-dark);
}

.cta h4 {
    font-size: 2.5rem;
    font-weight: bold;
}

.cta p {
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

/* ---------------FOOTER--------------- */
.footer {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.footer .footer_wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0;
}

.footer .footer_icons {
    display: flex;
    gap: 1rem;
}

.footer .footer_icons i {
    color: var(--clr-light);
}

/* -----------FOOTER MOBIL------------ */
@media screen and (min-width:400px) and (max-width:600px) {
    .footer .footer_wrapper {
        flex-direction: column;
        gap: 2rem;
    }

    .footer .footer_icons {
        font-size: 3rem;
        gap: 3rem;
    }
}

@media screen and (min-width:600px) and (max-width: 800px){
    .footer .footer_wrapper {
        flex-direction: column;
        gap: 2rem;
    }

    .footer .footer_icons {
        font-size: 3rem;
        gap: 3rem;
    }
}
@media screen and (max-width:520px) {
    .footer .footer_wrapper {
        flex-direction: column;
        gap: 2rem;
    }

    .footer .footer_icons {
        font-size: 3rem;
        gap: 3rem;
    }
}

/* ----------REPEATABLE PATTERNS------------ */
/* ----Colors---- */
:root {

    --clr-dark: #2b2b2b;
    --clr-light: #fff;
    --clr-primary: #1b8b83;
    --clr-secondary: #cfa584;
    --clr-tertiary: #d9d9d9;
}

/* ----Buttons---- */
.btn {
    background-color: transparent;
    color: transparent;
    border: 1px solid transparent;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.btn.btn-tertiary {
    background-color: var(--clr-tertiary);
    color: var(--clr-dark);
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.btn.btn-light {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    font-weight: bold;
    border-radius: 20rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.btn.btn-dark {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    font-weight: bold;
    border-radius: 20rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    letter-spacing: 1rem;
    font-weight: bold;
    font-size: 2rem;
    padding: 0;
}

@media screen and (max-width:520px) {
    .btn {
        padding: 1rem 3rem;
    }
}

/* ----Cards---- */
.card {
    background: var(--clr-light);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    max-width: 33.5rem;
}

.card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    transition: 0.5s ease;
}

.card .card_text {
    background-color: var(--clr-light);
    padding: 1rem;
    border-radius: 2rem;
}

.card .card_text p {
    margin: 1rem 0;
    color: var(--clr-dark);
}

.card .card_text h4 {
    font-size: 2.3rem;
    color: var(--clr-secondary);
    font-weight: bold;
}

.card .card_text a {
    color: var(--clr-primary);
}